*{
    box-sizing: border-box;
}
body{
    font-family: Inter; 
    color: #161616;

    }
.nav-menu{
    font-size: 18px;
    text-align: center; 
    padding: 32px 0;

}
ul{
    display: inline-block;    
   
} 
#subject{
    text-align: center; 
    font-size: 48px;
}
.container{
    font-size: 21px;
    font-weight: 500;
    line-height: 27px;
    margin: 0 420px;   
    
}
 .colortext{
        color: #04959E;
}
.container-list{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; 
    margin: 20px 400px 0;
   
}
.btn{
    padding: 10px 24px;
    background-color: #04959E;
    margin: 30px 0 60px 690px;   
    color: white;
    border: none;
    
}
footer{
    font-size: 18px;
    text-align: center;
    padding: 10px;
    border-top: 1px solid #161616;
     }
